:root {
  // COLORS
  --white: hsla(0, 0%, 100%, 1); // #ffffff

  --black: hsla(0, 0%, 0%, 1); // #000000

  --default-font: hsla(232, 48%, 24%, 1); // #20285b

  --navbar-background: hsla(229, 44%, 30%, 1); // #2B386F
}
