<div class="voyage" *ngFor="let voyage of voyages$">
  <ul>
    <li>Description: {{ voyage.description }}</li>
    <li>Departure Date: {{ voyage.dateDepart }}</li>
    <li>Arrival Date: {{ voyage.dateArrive }}</li>
    <li>Embark: {{ voyage.embarkPort }}</li>
    <li>Disembark: {{ voyage.disembarkPort }}</li>
    <li>Ship: {{ voyage.ship }}</li>
    <li>Fares from: {{ voyage.lowestVoyagePrice }}</li>
    <li>Govt Fees and Taxes: {{ voyage.staterooms[0].priceBlocks[0].govtFeesAndTaxes }}</li>
    <div class="stateroom" *ngFor="let stateroom of voyage.staterooms">
      <ul>
        <li>Stateroom: {{ stateroom._id }}</li>
        <li *ngIf="stateroom.priceBlocks[0].currencyCode !== 'SOLD_OUT'">Fare: {{ stateroom.priceBlocks[0].prices[0].fare }}</li>
        <li *ngIf="stateroom.priceBlocks[0].currencyCode === 'SOLD_OUT'">SOLD OUT</li>
      </ul>
    </div>
  </ul>
</div>
